.body-table-de-jeu {background-color: #006000;}

canvas {
	border: 2px #ffffff solid;
	margin: 5px;
}

.table-plateau-de-jeu {
	background-color: #582900;
	border: 5px #582900 solid;
	margin: auto;
}
