* {
	color: #ffffff;
	font-family: garamond;
	font-size: 25px;
}

a {
	text-decoration: none;
}

body {
	background-color: #303841;
/* 	user-select: none; */
}
.body-table-de-jeu {background-color: #006000;}

button {cursor: pointer;}

button,
input {
	color: #000099;
}

canvas {
	border: 3px solid #213363;
	background-color: #d3d04f;
}

div {aspect-ratio: 1}

iframe {
	width: 25%;
	aspect-ratio: 3 / 2;
	border: 3px solid #213363;
}

.table-plateau-de-jeu {
	background-color: #582900;
	border: 5px #582900 solid;
	margin: auto;
}
