/*===================================================================================================================*/
/*                                                                                                                   */
/*                                                        Jeux                                                       */
/*                                                                                                                   */
/*===================================================================================================================*/

* {
	color: #009900;
	font-family: consolas;
	font-size: 50px;
}

a {
	color: #000099;
	text-decoration: none;
}

body {
	background-color: #111111;
	text-align: center;
	user-select: none;
}

button {cursor: pointer;}

button,
input {
	color: #000099;
}

canvas {
	border: 3px solid #213363;
	background-color: #d3d04f;
}

div {aspect-ratio: 1}

h1 {color: #990000;}

iframe {
	width: 25%;
	aspect-ratio: 3 / 2;
	border: 3px solid #213363;
}

p,
pre {font-size: 75px}

/*===================================================================================================================*/
/*                                                                                                                   */
/*                                                        Jeux                                                       */
/*                                                                                                                   */
/*===================================================================================================================*/
