/*===================================================================================================================*/
/*                                                                                                                   */
/*                                                        Jeux                                                       */
/*                                                                                                                   */
/*===================================================================================================================*/

a {
/* 	font-size: 1000%; */
	text-decoration: none;
	color: #8eac50;
}

body {
	text-align: center;
	color: #8eac50;
	font-size: 125%;
	font-family: georgia;
	user-select: none;
}

button {cursor: pointer;}

button,
input {
	color: #8eac50;
	font-family: georgia;
	font-size: 150%;
}

canvas {
	border: 3px solid #213363;
	background-color: #d3d04f;
}

div {aspect-ratio: 1}

h1 {color: #213363;}

iframe {
	width: 25%;
	aspect-ratio: 3 / 2;
	border: 3px solid #213363;
}

p,
pre {font-size: 200%}

pre {font-family: monospace;}

/*===================================================================================================================*/
/*                                                                                                                   */
/*                                                        Jeux                                                       */
/*                                                                                                                   */
/*===================================================================================================================*/
