a:hover {margin-left: 5%;}
.a-fleurs,
.a-saisons,
.a-combinaisons,
.a-remplacement {cursor: not-allowed;}
.a-sélectionnées {background-color: #ffff00;}
.tr-vertical .a-mur,
#div-haut-droite a,
#a-haut-droite,
#div-bas-gauche a,
#a-bas-gauche {
	writing-mode: vertical-rl;
	transform: rotate(-90deg);
	margin-bottom: -15px;
	text-shadow: -2px 2px 1px #000000;
}

body {
	text-shadow: 2px 2px 1px #000000;
	font-size: 150%;
	font-family: bahnschrift;
	user-select: none;

}

button {
	transition: 0.2s;
	font-size: 100%;
	font-family: bahnschrift;
	border: 2px #ffffff solid;
	border-radius: 10px;
	margin-top: 5%;
	margin-bottom: 5%;
	box-shadow: 2px 2px 1px #000000;
	background-color: #0027b4;
	text-shadow: 2px 2px 1px #000000;
}
button:hover {
	background-color: #3352c3;
	cursor: pointer;
	margin-left: 5%;
}
button:active {background-color: #667dd2;}
#button-sélectionner, #button-valider {font-size: 150%;}

.div-pile {position: relative;}
.div-haut {
	position: absolute;
	bottom: 25%;
	right: 25%;
}
.div-très-haut {
	position: absolute;
	bottom: 50%;
	right: 50%;
}

#table-plateau {width: 100%;}
#table-exposition {font-size: 200%;}
#table-annonces {width: 80%;}
#table-murs {
	background: url("rdv.png") no-repeat center #008000;
	background-size: 50%;
}

/*td {border: 2px #000000 solid;}*/
.td-main, #td-pioche-main {font-size: 275%;}
#td-pioche-main {background-color: #0027b4;}
.tr-encadrement td, .td-encadrement {padding: 17px;}

th {font-size: 175%;}
