a {font-style: normal;}
.a-fleurs,
.a-saisons,
.a-combinaisons,
.a-remplacement {cursor: not-allowed;}
.a-sélectionnées {background-color: #ffff00;}
.tr-vertical .a-mur,
#div-haut-droite a,
#a-haut-droite,
#div-bas-gauche a,
#a-bas-gauche {
	writing-mode: vertical-rl;
	transform: rotate(-90deg);
	margin-bottom: -15px;
	text-shadow: -2px 2px 1px #000000;
}

body {
	text-shadow: 2px 2px 1px #000000;
	font-size: 150%;
	user-select: none;
}

button {
	transition: 0.2s;
	font-size: 100%;
	background-color: #0027b4;
	cursor: pointer;
}
button:hover {background-color: #3352c3;}
button:active {background-color: #667dd2;}

.div-pile {position: relative;}
.div-haut {
	position: absolute;
	bottom: 25%;
	right: 25%;
}
.div-très-haut {
	position: absolute;
	bottom: 50%;
	right: 50%;
}

#table-exposition {font-size: 200%;}
#table-murs {background: url("rdv.svg") no-repeat center #007700;}

/*td {border: 2px #000000 solid;}*/
.td-main, #td-pioche-main {font-size: 275%;}
#td-pioche-main {background-color: #0027b4;}
.tr-encadrement td,
.td-encadrement {padding: 17px;}
