body {
	font-size: 200%;
	text-align: center;
}

td {
	cursor: pointer;
	text-shadow: 1px 1px 0px #ffffff;
	width: 50px;
	height: 50px;
}
.td-blanc {background-color: #ffffff;}
.td-noir {background-color: #000000;}
