/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                      Mémoire                                                      */
/*                                                                                                                   */
/* ================================================================================================================= */

.card {
	width: 10%;
	background-color: #17594A;
	border-radius: 12.5%;
	display: inline-block;
	margin: 1%;
	cursor: pointer;
}

.card:hover {
	width: 11%;
	margin: 0.5%;
}

.card[data-value = A].flip {background-color: #ff0000;}
.card[data-value = B].flip {background-color: #00ff00;}
.card[data-value = C].flip {background-color: #0000ff;}
.card[data-value = D].flip {background-color: #ffff00;}
.card[data-value = E].flip {background-color: #ff00ff;}
.card[data-value = F].flip {background-color: #00ffff;}
.card[data-value = G].flip {background-color: #ff8000;}
.card[data-value = H].flip {background-color: #008000;}

/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                      Mémoire                                                      */
/*                                                                                                                   */
/* ================================================================================================================= */
