.carte {
	width: 100px;
	height: 100px;
	background-color: #115544;
	display: inline-block;
	margin: 10px;
	cursor: pointer;
}

.carte:hover {
	width: 110px;
	height: 110px;
	margin: 5px;
}

.carte[data-value = A].retournée {background-color: #ff0000;}
.carte[data-value = B].retournée {background-color: #00ff00;}
.carte[data-value = C].retournée {background-color: #0000ff;}
.carte[data-value = D].retournée {background-color: #ffff00;}
.carte[data-value = E].retournée {background-color: #ff00ff;}
.carte[data-value = F].retournée {background-color: #00ffff;}
.carte[data-value = G].retournée {background-color: #ff8000;}
.carte[data-value = H].retournée {background-color: #008000;}
