.carte {
	width: 10%;
	background-color: #17594A;
	border-radius: 12.5%;
	display: inline-block;
	margin: 1%;
	cursor: pointer;
}

.carte:hover {
	width: 11%;
	margin: 0.5%;
}

.carte[data-value = A].flip {background-color: #ff0000;}
.carte[data-value = B].flip {background-color: #00ff00;}
.carte[data-value = C].flip {background-color: #0000ff;}
.carte[data-value = D].flip {background-color: #ffff00;}
.carte[data-value = E].flip {background-color: #ff00ff;}
.carte[data-value = F].flip {background-color: #00ffff;}
.carte[data-value = G].flip {background-color: #ff8000;}
.carte[data-value = H].flip {background-color: #008000;}
