/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                       Cible                                                       */
/*                                                                                                                   */
/* ================================================================================================================= */

.target {
	width: 5%;
	background-color: #213363;
	border-radius: 50%;
	position: absolute;
	cursor: pointer;
	animation: moveTarget 5s linear infinite;
}

.hit {background-color: #8eac50;}

@keyframes moveTarget {
	0% {top: 10%; left: 10%;}
	25% {top: 90%; left: 10%;}
	50% {top: 90%; left: 90%;}
	75% {top: 10%; left: 90%;}
	100% {top: 10%; left: 10%;}
}

/* ================================================================================================================= */
/*                                                                                                                   */
/*                                                       Cible                                                       */
/*                                                                                                                   */
/* ================================================================================================================= */
