body {
	font-size: 300%;
	background-color: #008000;
	text-align: center;
}

table {margin: auto;}

td {
	cursor: pointer;
	text-shadow: 1px 1px 0px #ffffff;
	width: 75px;
	height: 75px;
}
.td-blanc {background-color: #ffffff;}
.td-noir {background-color: #000000;}
